root = true

[*]
indent_style = space
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_size = 4

[*.md]
trim_trailing_whitespace = false

# Always use 2 spaces for YAML files
# https://github.com/editorconfig/editorconfig/issues/329
[*.yml]
indent_style = space
indent_size = 2
